services:

#Servidor Web
  #web_server:
    #image: nginx:alpine
    #volumes:
     # - ./nginx.conf:/etc/nginx/conf.d/default.conf
    #ports:
     # - "8000:80"
    #depends_on:
     # - fruits-app

#Mi aplicacion de Laravel
  fruits-app:
    image: aalmarales/fruits:1.0 
    volumes:
      - ./apache.conf:/etc/apache2/sites-enabled/000-default.conf
      - .env:/var/www/html/.env

    environment:
      - DB_HOST=postgres_db

    ports:
      - "9000:80"
    depends_on:
      - postgres_db
    
    
    
#Base de Datos Postgres
  postgres_db:
    image: postgres:14.20-alpine3.23
    environment:
      - POSTGRES_DB=fruits
      - POSTGRES_USER=alexis
      - POSTGRES_PASSWORD=12345
    